<div class="container">
<h1>Single Blog Link </h1>
<h1>{{post.title}}</h1>
{{#if logged_in}}
<h1>{{post.user.username}}</h1>
<h1>{{post.content}}</h1>
</div>
<div class="container">
{{#each post.comments as |comment|}}
<h2>{{comment.content}}</h2>
<p>By {{comment.user.username}}</p>
{{/each}}


 <form class="form comment-form">
      <div class="form-group">
        <label for="new-comment">Add Comment:</label>
        <input class="form-input" type="text" id="new-comment" />
        <button type="submit">Add Comment</button>
      </div>
 </form>
{{/if}}
</div>
<script src="/js/addComment.js"></script>