<div class="card">

<div class="card card-header">
<h1> Blog title: {{post.title}}</h1>
</div>
<div class="card card-body">
{{#if logged_in}}
<h2>Posted by {{post.user.username}}</h2>
<h3>{{post.content}}</h3>
</div>

{{#each post.comments as |comment|}}
<div class="card card-footer"></div>
<h4>Comments: {{comment.content}}</h4>
<p>By {{comment.user.username}} created on {{format_date comment.created_on}}</p>
</div>
{{/each}}


 <form class="form comment-form">
      <div class="form-group">
        <label for="new-comment">Add Comment:</label>
        <input class="form-input" type="text" id="new-comment" />
        <button type="submit">Add Comment</button>
      </div>
 </form>
 {{#if postIsUser}}
 <a href="/update/{{post.id}}">Update or Delete Your Post</a>
 {{/if}}
 {{/if}}
<script src="/js/addComment.js"></script>
